@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --black: rgb(7,7,7,1);
    --white: rgb(203, 189, 189);
    --violet: rgb(64,24,58,1);
    --sand: rgb(124,49,6,1);

    --bg: rgba(10, 10, 10, 0.89);
    --bg2: rgba(16, 16, 16, 0.89);

    --gr-violet:rgb(64,24,58,1);
    --gr-sand: rgb(124,49,6,0.9);

    --alt-violet:rgb(64,24,58,0.7);
    --alt-sand: rgb(124,49,6,0.5);

    --white-sepa: rgb(197, 194, 194, 0.7);

    --bg-gradient: linear-gradient(80deg, var(--bg),var(--bg2));
    --gradient: linear-gradient(90deg, var(--gr-sand) 0%, var(--gr-violet) 100%);
    --gradient-card: linear-gradient(100deg, var(--alt-violet) 0%, var(--alt-sand) 100%);
    --gradient-scroll: linear-gradient(120deg, var(--alt-sand) 0%, var(--alt-violet) 100%);

    --border: rgb(64,24,58,0.5);
    --alt-border: rgb(124,49,6,0.2);
    --border-card: rgba(145, 140, 140, 0.05);
    --card:rgb(7,7,7,0.5);

    --jura: "Jura", sans-serif;


    ::-webkit-scrollbar {
        width: 0.8em;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--gradient-scroll);
        border-radius: 0.2em;
    }

}

html {
    scroll-behavior: smooth;
}

.header {
    position:relative;
}

header:before{
    content:"";
    width: 100%;
    height: 0.5em;
    position: absolute;
    background: var(--gradient);
    top:0;
    left: 0;
    opacity: 0.7;
}

.navbar-font {
    font-family: var(--jura);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8em ;
}

h1 {
    text-shadow: 2px 2px 0 var(--sand);
}

h2 {
    letter-spacing: 2px;
}

h2, h3, h4 {
    font-family: var(--jura);
    font-variant: all-small-caps;
}

.asterix {
    font-family: "Source Code Pro", serif;
    font-size: 3.5em;
    text-shadow: 2px 2px 0 var(--gr-violet);
    position: absolute;
    bottom:0.058em;
    left:0.22em;

}

.ico-nav {
    color: var(--gr-sand);
}

.contact {
    padding-left: 2em;
}



.undeline {
    padding-inline: 0.15em;
    background-image: var(--gradient);
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
    background-position: 0 90%;
    transition: background-size 0.25s ease-in;
    border-radius: 0.1em;
    z-index: 1000;
    position: sticky;
}

.undeline:hover {
    background-size: 100% 70% !important;

}

.quickPres div:nth-child(2) {
    border-left: 1px solid var(--white-sepa);
    border-right: 1px solid var(--white-sepa);
    padding-inline: 1.5em;
}

.about h1, .intro-projects h1 {
    position: relative;
}

.about h1:after, .intro-projects h1:after {
    content:"";
    position: absolute;
    bottom: -0.5em;
    left:0;
    width: 3em;
    height: 4px;
    background: var(--gradient);
}

.skill {
    flex-grow: 1;
    justify-content: flex-start;
}

.skills h1 {
    position: relative;
}

.skills h1:after {
    content:"";
    position: absolute;
    bottom: -0.5em;
    right:0;
    width: 3em;
    height: 4px;
    background: var(--gradient);
}

.ico-skill img {
    padding: 0.3em;
}

.glass {
    background: var(--card);
    border-radius: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(16.1px);
    -webkit-backdrop-filter: blur(16.1px);
    border: 1px solid var(--border-card);
}

.glass-hover {
    background: var(--gradient-card);
}


.skill span  {
    font-family: "Source Code Pro", serif;
    font-weight: bold;
    color: var(--white);
    font-size: 1.1em;
    opacity: 0.8;
}

.project-glass {
    border-radius: 1em;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border-card);
}

.txt-project {
    font-variant: all-small-caps;
    font-weight: bold;
}

.chip-project {
    font-variant: all-small-caps;
    font-size: 1.05em;
    background: var(--bg2);
}

.btn-project a, .btn-top{
    background: var(--gradient-card);
    box-shadow: 2px 2px 3px rgba(10, 10, 10, 0.72);
}

.accordeon-project {
    background: var(--bg) !important;
    padding: 1em;
    border-radius: 1em;
}

.title-project h1 {
    position: relative;
}


.title-project h1:after {
    content:"";
    position: absolute;
    bottom: -0.5em;
    left:0;
    width: 3em;
    height: 4px;
    background: var(--gradient);
}

.footer {
    position: relative;
    width: 100%;
    min-height: 2em;
}


footer:after{
    content:"";
    width: 100%;
    height: 0.5em;
    position: absolute;
    background: var(--gradient);
    bottom:0;
    left: 0;
    opacity: 0.7;
}

.portrait {
    -webkit-animation: slide-top 5s ease-in-out infinite both;
    animation: slide-top 5s ease-in-out infinite both;
}

.portrait-delay {
    -webkit-animation: slide-top 5s ease-in-out 0.5s infinite both;
    animation: slide-top 5s ease-in-out 0.5s infinite both;
}


@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}




